<section class="portfolio" id="Portfolio">
    <div class="container">
        <div class="row">
            <div class="section-title text-center">
                <h1>Альбомы</h1>
            </div>
        </div>
        <div class="row">
            <div class="filter-buttons">
                <ul id="filter-btns">
                <!--     <li class="active" data-target="all">ALL</li> -->
                    <li data-target="Branding">Traditional</li>
                    <li data-target="Photoshop">Posters</li>
                    <li data-target="Digital">Digital</li>
                </ul>
            </div>
    

